<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liwo.app.user.dao.BossPermissionApplyDao">

	<!-- 实体对象和数据库表映射 -->
    <resultMap id="getBossPermissionApplyList" type="com.liwo.app.user.model.BossPermissionApplyModel">
		<id column="id" property="id" />
		<result column="applyname" property="applyName" />
		<result column="mobile" property="mobile" />
		<result column="identify" property="identify" />
		<result column="shopname" property="shopName" />
		<result column="address" property="address" />
		<result column="telephone" property="telephone" />
		<result column="licence_image" property="licenceImage" />
		<result column="apply_time" property="applyTime" />
		<result column="accountid" property="accountId" />
	</resultMap>

	<!-- 新增老板权限申请 -->
	<insert id="addBossPermissionApply" parameterType="com.liwo.app.user.req.PermissionApplyReq">
		<![CDATA[
			INSERT INTO app_user_boss_apply(applyname,mobile,identify,shopname,address,telephone,licence_image,apply_time,accountid)
			VALUES (#{applyName}, #{mobile}, #{identify}, #{shopName}, #{address}, #{telephone}, #{licenceImage}, now(), #{accountId})
		]]>
	</insert>
</mapper>